.loginBox {
  display: grid;
  grid-template-rows: 300px 20px;
  grid-template-columns: 550px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  height: 350px;
  width: 550px;
  border: 1px solid grey;
  border-radius: 6px;

  .loginForm {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    input {
      width: 99%;
      height: 50px;
      font-size: 19px;
      border-radius: 4px;
      border: 1px solid grey;

      &:hover {
        cursor: pointer;
      }
    }

    .submitButton {
      margin-top: 50px;
      border: 1px solid #ff4800;
      background-color: #ff6600;
      border-radius: 4px;
      width: 100%;
      height: 60px;

      color: white;
      font-size: 20px;
      font-weight: bold;

      transition: 0.5s;

      &:hover {
        cursor: pointer;
        background-color: #ffa126;
      }
    }
  }

  .utilBox {
      color: grey;
      display: flex;
      justify-content: center;

      &:after {
        color: grey;
      }
  }
}