.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    height: 30vh;
    width: 50vh;
    border: 1px solid black;

    .loginForm {
        border: 1px solid black;
        width: 90%;
        display: block;
        justify-content: center;

        input {
            width: 98.5%;
            height: 50px;
            font-size: 19px;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                border-color: greenyellow;
            }
        }

        .submitButton {
            margin-top: 50px;
            border: 0px;
            background-color: #4CAF50;
            border-radius: 4px;
            width: 100%;
            height: 50px;
            
            color: white;
            
        }
    }
}